/**
 * src/styles/settings.scss
 *
 * Configures SASS variables and Vuetify overwrites
 */

// https://vuetifyjs.com/features/sass-variables/`
// @use 'vuetify/settings' with (
//   $color-pack: false
// );


*, html {
          font-family: "Inter", sans-serif;
          font-optical-sizing: auto;
          font-style: normal;
        }

.w-fit-content {
  width: fit-content;
}